body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: white;
    font-size: 26px;
    line-height: 60px;
    margin-left: 250px;
    float: left;
}

.menu{
    float: left;
    padding-left: 200px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: 100%;
    background: url("../img/uUdS9uqznJo.png") 85% 100%/auto 110%  no-repeat, url("../img/фон.jpg") left/cover no-repeat;
    
}

.title__container{
    float: left;
    margin: 200px 0px 0px 200px;
    color: #2c384a;
    text-align: center;
}
.title__container h1{
    font-size: 45px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 20px;
    font-size: 22px;
    color: #888f9a;
}
.title__container input{
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 40px 7px 0px 7px;
    
}
.main1{
    height: 100%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 10%/ 71px 5px no-repeat, url("../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg") left/cover no-repeat;
}
.main1 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    margin: 70px 0px 0px 0px;
    font-weight: 600;
}
.main1 img{
    border: 1px solid none;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 70px 0px 30px 560px;
}
.main1 p{
    text-align: center;
    font-size: 15px;
    color: #3f495a;
}
.main1 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    margin: 60px 0px 0px 560px;
    border-radius: 5px;
    padding: 5px 14px 5px 30px;
    font-size: 18px;
    color: #6f707e;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.jpg) 5% 50% no-repeat;
}
.main2{
    height: 100%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 20%/ 71px 5px no-repeat, url("../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg") left/cover no-repeat;
}
.main2 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    padding: 70px 0px 0px 0px;
    font-weight: 600;
}
.example-block li{
    float: left;
    font-family: Arial, sans-serif;
    text-align: left;
    font-size: 20px;
    color: #d38c2e;
    padding: 200px 0px 0px 150px;
    font-weight: 600;
}
.example-block1 span{
    width: 200px;
    float: left;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 13px;
    color: #3f495a;
    margin: 50px 0px 50px 100px;
    padding: 0px 0px 0px 0px;
    font-weight: 600;
}