body{
    font-family: Arial, sans-serif;
}
nav{
    width: 100%;
    height: 60px;
    background: #344051;
}

.logo{
    color: white;
    font-size: 26px;
    line-height: 60px;
    margin-left: 250px;
    float: left;
}

.menu{
    float: left;
    padding-left: 200px;
}
.menu li{
    float: left;
    line-height: 60px;
    color: white;
    margin-right: 30px;
    font-size: 16px;
    text-transform: uppercase;
}

.main{
    width: 100%;
    height: 100%;
    background: url("../img/uUdS9uqznJo.png") 85% 100%/auto 110%  no-repeat, url("../img/фон.jpg") left/cover no-repeat;
    
}

.title__container{
    float: left;
    margin: 200px 0px 0px 200px;
    color: #2c384a;
    text-align: center;
}
.title__container h1{
    font-size: 45px;
    font-weight: bold;
}
.title__container h4{
    margin-top: 20px;
    font-size: 22px;
    color: #888f9a;
}
.title__container input{
    height: 30px;
    text-align: center;
    border: 2px solid #6d7682;
    background: none;
    border-radius: 5px;
    color: #6d7682;
    font-size: 13px;
    padding: 0px 16px;
    margin: 40px 7px 0px 7px;
    
}
.main1{
    height: 100%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 10%/ 71px 5px no-repeat, url("../img/%D0%A4%D0%BE%D0%BD%D0%BE%D0%B2%D1%8B%D0%B9%20%D1%81%D0%BB%D0%BE%D0%B9.jpg") left/cover no-repeat;
}
.main1 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    margin: 70px 0px 0px 0px;
    font-weight: 600;
}
.main1 img{
    border: 1px solid none;
    border-radius: 50%;
    height: 180px;
    width: 180px;
    margin: 80px 0px 30px 635px;
}
.main1 p{
    text-align: center;
    font-size: 15px;
    color: #3f495a;
    margin: 0px 0px 0px 50px;
}
.main1 input{
    height: 40px;
    text-align: center;
    border: 2px solid #6f707e;
    background: none;
    margin: 60px 0px 0px 635px;
    border-radius: 5px;
    padding: 5px 14px 5px 30px;
    font-size: 18px;
    color: #6f707e;
    background: url(../img/%D0%B8%D0%BA%D0%BE%D0%BD%D0%BA%D0%B0.jpg) 5% 50% no-repeat;
}
.main2{
    height: 100%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 25%/ 71px 5px no-repeat, url("../img/%D0%BA%D0%B0%D1%80%D1%82%D0%B8%D0%BD%D0%BA%D0%B0%20%D1%84%D0%BE%D0%BD%D0%B0.jpg") center/cover no-repeat;
}
.main2 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    padding: 100px 0px 0px 0px;
    font-weight: 600;
}
.item_skills{
    float: left;
    height: 150px;
    width: 200px;
    text-align: center;
    margin: 150px 0px 0px 130px;
}
.item_skills img{
    height: 50px;
    width: 60px;
}
.item_skills h4{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #cf7600;
    padding: 30px 0px 0px 0px;
    font-weight: 600;
}
.item_skills p{
    float: left;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 16px;
    color: #263244;
    margin: 20px;
    width: 150px;
}
.main3{
    height: 900px;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 13%/ 71px 5px no-repeat, url("../img/%D1%84%D0%BE%D1%82%D0%BA%D0%B0.png") 50% 45% no-repeat, url("../img/%D0%A1%D0%BB%D0%BE%D0%B9%205.png") left/cover no-repeat;
}
.main3 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    padding: 50px 0px 0px 0px;
    font-weight: 600;
}
.main3 p{
    height: 100%;
    width: 600px;
    margin: 70px 0px 50px 510px;
}

.item_skills1{
    height: 50px;
    width: 300px;
    text-align: left;
    margin: 550px 0px 0px 90px;
}

.item_skills2{
    height: 50px;
    width: 200px;
    text-align: left;
    margin: 20px 0px 0px 90px;
}
.item_skills3{
    float: left;
    height: 20px;
    width: 250px;
    text-align: left;
    margin: -100px 0px 0px 400px;
}
.item_skills3 p{
    float: left;
    height: 20px;
    width: 900px;
    line-height: 20px;
    text-align: left;
    margin: 10px 0px 0px 150px;
}
.item_skills1 h3{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #263244;
    margin: 0px 0px 10px 160px;
    font-weight: 500;
}
.item_skills2 h3{
    font-family: Arial, sans-serif;
    font-size: 20px;
    color: #263244;
    margin: 0px 0px 10px 160px;
    font-weight: 500;
}
.main3 p1{
    font-family: Arial, sans-serif;
    font-size: 15px;
    color: #263244;
    margin: 0px 0px 0px 160px;

}
.main3 h4{
    width: 200px;
    font-family: Arial, sans-serif;
    font-size: 18px;
    color: #263244;
    margin: -20px 0px 0px 150px;
    font-weight: 500;
}
.main3 input{
    display: block;
    float: left;
    font-family: Arial, sans-serif;
    height: 40px;
    font-weight: 600;
    text-align: center;
    border: 2px solid #6f707e;
    margin: 30px 0px 0px 250px;
    border-radius: 5px;
    padding: 5px 40px;
    color: white;
    font-size: 20px;
    background: url("../img/%D0%9F%D1%80%D1%8F%D0%BC%D0%BE%D1%83%D0%B3%D0%BE%D0%BB%D1%8C%D0%BD%D0%B8%D0%BA,%20%D1%81%D0%BA%D1%80%D1%83%D0%B3%D0%BB.%20%D1%83%D0%B3%D0%BB%D1%8B%204.png") 100%/cover no-repeat;
}
.main4{
    height: 850px;
    width: 100%;
    background: url("../img/%D0%A1%D0%BB%D0%BE%D0%B9%202.png") left/cover no-repeat;
}
.main4 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    font-weight: 600;
    padding: 70px;
    margin: 100px 0px 50px 0px;
}
.main4 h3{
    font-family: Arial, sans-serif;
    text-align: left;
    margin: 30px 0px 30px 300px;
    font-size: 20px;
    color: #263244;
    font-weight: 600;
}
.main4 select{
    height: 50px;
    width: 800px;
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0px 300px;0px 0px;
    background-color: #eeeeee;
    
}
.main5 {
    height: 100%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 25%/ 71px 5px no-repeat, url("../img/%D1%84%D0%BE%D0%BD%202.png") center/cover no-repeat;
}
.main5 h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    padding: 100px 0px 0px 0px;
    font-weight: 600;
}
.item-skills{
    float: left;
    height: 200px;
    width: 210px;
    text-align: center;
    margin: 200px 0px 0px 120px;
}
.item-skills img{
    height: 50px;
    width: 60px;
    margin: 40px;
}
.item-skills h3{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #323e4f;
    padding: 30px 0px 30px 0px;
    font-weight: 800;
}
.item-skills p{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 20px;
    color: #323e4f;
    padding: 0px 0px 0px 0px;
}
.main6 {
    height: 100%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 20%/ 71px 5px no-repeat, url("../img/%D0%A1%D0%BB%D0%BE%D0%B9%202.png") center/cover no-repeat;
}
.main6 h2{
    float: left;
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: #263244;
    font-weight: 600;
    margin: 70px 0px 0px 650px;
}
.main6 img{
    border: 1px solid none;
    border-radius: 50%;
    height: 200px;
    width: 200px;
    margin: 100px 0px 30px 625px;
}
.main6 p{
    float: left;
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #243042;
    margin: 50px 0px 0px 0px;
}
.main6 h4{
    float: left;
    height: 100%;
    width: 100%;
    font-size: 18px;
    text-align: center;
    color: #243042;
    margin: 50px 0px 0px 0px;
    font-weight: 400;
}
.main6 input{
    display: block;
    float: left;
    height: 20px;
    width: 20px;
    margin: 50px 0px 0px 10px;
    
}

footer{
    height: 110%;
    width: 100%;
    background: url("../img/%D0%A7%D0%B5%D1%80%D1%82%D0%B0%20%D0%B7%D0%B0%D0%B3%D0%BE%D0%BB%D0%BE%D0%B2%D0%BA%D0%B0.jpg") 50% 16%/ 71px 5px no-repeat, url("../img/%D0%A4%D0%BE%D0%BD%209.png") center/cover no-repeat;
}
footer h2{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 30px;
    color: white;
    margin: 50px 0px 0px 0px;
    padding: 70px 0px 0px 0px;
}
.main7 p{
    float: left;
    height: 50px;
    width: 800px;
    font-size: 18px;
    text-align: center;
    color: white;
    margin: 60px 0px 0px 330px;
}
.item_skills9 img{
    height: 30px;
    width: 30px;
    margin: 150px 0px 30px -820px;
}
.item_skills9 h4{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    height: 50px;
    width: 150px;
    margin: 0px 0px 50px 240px;;
}

.item_skills10 img{
    height: 40px;
    width: 50px;
    margin: -165px 0px 0px 705px;
}

.item_skills10 h4{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    height: 50px;
    width: 150px;
    margin: -115px 0px 50px 630px;;
}
.item_skills11 img{
    height: 40px;
    width: 50px;
    margin: -215px 0px 0px 1115px;
}
.item_skills11 h4{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 18px;
    color: white;
    height: 50px;
    width: 150px;
    margin: -165px 0px 50px 1070px;;
}
.item_skills12 h3{
    font-family: Arial, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    margin: -150px 0px 0px 20px;
}
.main7 input{
    display: block;
    float: left;
    margin: 50px 0px 0px 100px;
    height: 50px;
    width: 200;
    border-radius: 5px;
}
